node_modules/
dist/
.env
.env.local
.env.*.local
.env.production

# Local Netlify folder
.netlify
netlify/functions/config.json
netlify/functions/firebase-credentials.json

".env"
"loungeap.zip"
.env.local
.env.*.local
